* {
   box-sizing: border-box;
}

header {
    display: inline;
}
body {
		background-image: url(../images/graveyard.jpg);
		color: white;
	}
	
.menu li {
display: inline;
}


.menu a {
color: #fff;
font-weight: bold;
padding:0.2em 0.6em;
}

.banner h1{
    text-align: center;
    margin-top: 0;   
}

.wrapper {
    max-width: 1024px;
    background: #000000;
    margin: 0 auto; 
}

.undertaker1 {
	max-width: 100%;
	height: auto;
}

.main {
width: 65%;
padding: 1%;
float: left;
color: purple;
}

.matchquestions {
color: black;
background: grey;
}

.aside {
width: 35%;
padding: 1%;
float: left;
color: grey;
}

.footer {
    clear: both;
    background: #9f9f9f;
    text-align: center;
    padding: .5%;
}

@media (max-width: 666x) {
    .main,.aside {
        float: none;
        width: auto;
    }
	
@media print {
 
	* {
		color: #000 !important;
		padding: 0 !important;
	}
	
	:not(table):not(td) {
        border: 0 !important;
    }
   
 
	.banner, .footer{ 
		display: none;
	}
 
	body {
		background: #fff;
		font-size: 12pt;
	}
 
	.wrapper, .main, .aside {
		float: none;
		width: auto;
	}
   
}